.neonBackground {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/public/assets/media/img/neonBack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: brightness(0.7);
    filter: blur(3px);
    background-attachment: fixed;
    z-index: -1;
    animation: lightFlash 4s linear infinite;
    
}

@keyframes lightFlash {
    0% {
      filter: brightness(1);
    }
    2% {
        filter: brightness(0.7);
      }
      4% {
        filter: brightness(1);
      }
      6% {
        filter: brightness(0.7);
      }
      8% {
        filter: brightness(1);
      }
      30% {
        filter: brightness(1);
      }
      32% {
        filter: brightness(0.8);
      }
      36% {
        filter: brightness(1);
      }
      50% {
        filter: brightness(1);
      }
      52% {
        filter: brightness(1);
      }
      54% {
        filter: brightness(0.7);
      }
      56% {
        filter: brightness(1);
      }
      58% {
        filter: brightness(0.6);
      }
      60% {
        filter: brightness(1);
      }
      100% {
        filter: brightness(1);
      }
  }