.floor {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(/public/assets/media/img/hardskills/floor.png);
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}