// <ОБНУЛЕНИЕ>=================================================================================================================================
@import "nullstyle";
// </ОБНУЛЕНИЕ>================================================================================================================================
// <ШРИФТЫ>=====================================================================================================================================

// <Подключаем шрифты>==========================================================================================================================
@font-face {
	font-family: 'Archivo';
	src: url('/public/assets/fonts/Archivo_Black/Archivo_Black-Regular.ttf') format('truetype'),
  }
  @font-face {
	font-family: 'PlayB';
	src: url('/public/assets/fonts/Play/Play-Bold.ttf') format('truetype'),
  }
  @font-face {
	font-family: 'PlayR';
	src: url('/public/assets/fonts/Play/Play-Regular.ttf') format('truetype'),
  }
// </Подключаем шрифты>=========================================================================================================================

// <Шрифт по умолчанию>=========================================================================================================================
$defaultFont: "Archivo";
$rusFontR: 'PlayR';
$rusFontB: 'PlayB';
// </Шрифт по умолчанию>========================================================================================================================

// </ШРИФТЫ>====================================================================================================================================

// <ПЕРЕМЕННЫЕ>=================================================================================================================================
// $minWidth: 320px; // Минимальная ширина экрана
// $maxWidthContainer: 1353px; // Контейнер
// $md1: $maxWidthContainer + 40px; // Контейнер, когда нет свободного месте побокам.
// $md2: 1000; // Планшеты
// $md3: 420; // Смартфоны
// </ПЕРЕМЕННЫЕ>================================================================================================================================

// <ОБОЛОЧКА>=================================================================================================================================
// .wrapper {
// 	max-width: $maxWidthContainer;
// 	width: $maxWidthContainer;
// 	margin: 0 auto;
// }
// </ОБОЛОЧКА>================================================================================================================================

// <ОСНОВНАЯ СЕТКА>=================================================================================================================================

// </ОСНОВНАЯ СЕТКА>================================================================================================================================


// <ОБЩИЕ СТИЛИ>=================================================================================================================================
  html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
  }

body {
	font-family: $defaultFont;
	color: #fff;
	scroll-behavior: smooth;
	width: 100%;
  	height: 100%;
  	overflow-x: hidden;
	background-color: #000;
}

a {
	color: inherit;
	text-decoration: none;
  }
button {
    @extend %BtnMedium;
	background-color: rgb(156, 128, 255);
}

button:hover {
    filter: brightness(0.8);
}
// </ОБЩИЕ СТИЛИ>================================================================================================================================

// <ИМПОРТЫ>====================================================================================================================================

// <МИКСИНЫ>====================================================================================================================================
@import "mixins";

// </МИКСИНЫ>===================================================================================================================================

// <ПЛЕЙСХОЛДЕРЫ>====================================================================================================================================
@import './placeholders.scss';
// </ПЛЕЙСХОЛДЕРЫ>===================================================================================================================================

// <ИМПОРТЫ СТИЛЕЙ>=================================================================================================================================

// </ИМПОРТЫ СТИЛЕЙ>================================================================================================================================

// </ИМПОРТЫ>===================================================================================================================================