@import '../../styles/index.scss';
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background-color: #050505;
    &_content {
        position: relative;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    &_text {
        position: absolute;
        bottom: 100px;
        left: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
            @extend %H1;
            color: #fff;
            white-space: pre;
        }
        h2 {
            @extend %H2;
            color: rgb(156, 128, 255);
        }
        h3 {
            @extend %H3;
            color: #fff;
            white-space: pre;
        }
        p {
            @extend %TextMedium;
            color: #fff;
            white-space: pre;
            text-align: left;
        }
    }

}

.btn {
    @extend %BtnMedium;
    background-color: rgb(156, 128, 255);
    color: #000;

}

.imgHome {
    bottom: 0;
    right: 0;
    width: 700px;
    height: 700px;
    position: absolute;
    filter: brightness(0.85);
}
@media (max-width: 1600px) {
    .imgHome {
        right: -50px;
    }
  }