@import '../../../styles/index.scss';

.hardIcons {
    position: absolute;
    right: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    p {
        @extend %H4
    }
  }
  @media (max-width: 1600px) {
    .hardIcons {
      transform: scale(0.8);
      right: 25px;
    }
  }
  
  .icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    width: 800px;
    height: 700px;
    // grid-template-columns: repeat(auto-fill, minmax(207px, 1fr));
  }
  .iconTest {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    gap: 10px;

  }

  .tech {
    position: absolute;
    width: 50px;
    top: 30px;
    margin: 0 auto;
    transition: filter, top  0.3s ease-in-out;
    filter: brightness(2);
  }
  
  .light {
    position: relative;
    width: 150px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  filter: brightness(5);
  }

    
  .iconTest:hover {
    filter: grayscale(0%);
    .tech {
      top: 10px;
      filter: grayscale(0%);
    }
    .light {
        filter: grayscale(0%);
      }
  }

  .boards {
    position: absolute;
    width: 900px;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 155px;
    .board {
        
      }
  }

  .codeWars {
    position: absolute;
    bottom: -75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    align-items: center;
    transform: scale(1.3);
    cursor: pointer;
}
.codeWars:hover {
    color: #fde8fd;
    filter: brightness(1.1);
    text-shadow: 0px 0px 10px #f649fb;
}