@import '../..//styles/index.scss';

.contacts {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.spaceGif {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-image: url(/public/assets/media/gif/Contacts/space.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spaceImg {
    position: absolute;
    width: 100%;
    height: 87vh;
    background-image: url(/public/assets/media/img/contacts/spaceImg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.hillsImg {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cosmoImgs {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
    }
    .cosmonaut {
        top: 100px;
        right: 200px;
        animation: cosmofly 2s ease-in-out infinite;
    }
    .jupiter {
        top: 50px;
        left: 400px;
    }
    .meteor {
        top: 400px;
        left: 300px;
        animation: cosmofly 3.5s ease-in-out infinite;
    }
    .meteor1 {
        top: 900px;
        left: 600px;
        animation: meteorDrop 10s ease-in-out infinite;
    }
    .meteor2 {
        top: 200px;
        right: 600px;
        animation: meteorDrop 15s ease-in-out infinite;
    }
    .meteor3 {
        top: 300px;
        left: 600px;
        animation: meteorDrop 20s ease-in-out infinite;
    }
    .nlo {
        top: 100px;
        left: 100px;
        animation: nlofly 10s ease-in-out infinite;
    }
    .saturn {
        top: 200px;
        right: 350px;
    }


}

.appleman {
    position: absolute;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    img {
        width: 400px;
    }
    p {
        @extend %SpecialTextBig;
        color: #fff;
        text-shadow: 0px 0px 20px #fff;
        
    }
}
.contactsInfo {
    width: 100%;
    height: 75vh;
    position: relative;
    z-index: 3;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    &_socials, &_emailBlock  {
        position: relative;
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_line {
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 30px 10px #fff;
        
    }
    &_text {
        @extend %SpecialTextMedium;
        color: #fff;
        text-shadow: 0px 0px 20px #fff;
        margin-top: 40px
    }
    &_icons {
        margin-bottom: 20px;
        display: flex;
        gap: 40px;
        img {
            transition: transform 0.3s ease-in-out;
        }
        img:hover {
            transform: translateY(-10px);
            transition: transform 0.3s ease-in-out; 
        }
    }
    &_email {
        @extend %SpecialTextSmall;
        color: #fff;
        text-shadow: 0px 0px 20px #fff;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out; 
    }
    &_email:hover {
        transform: translateY(-10px);
        transition: transform 0.3s ease-in-out; 
        cursor: pointer;
    }
}

@media (max-width: 1600px) {
    .contactsInfo{
        &_icons {
            transform: scale(0.8);
        }
    }
  }

@keyframes cosmofly {
    0% {
      transform: translateY(0px);
    }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0px);
      }
  }
  @keyframes nlofly {
    0% {
      transform: translate(-500px, 10px);
    }
    20% {
        transform: translate(110px, 50px);
      }
      22% {
        transform: translate(110px, 50px);
      }
      30% {
        transform: translate(90px, 60px);
      }
      40% {
        transform: translate(350px, -30px) scale(0.7);
      }
      60% {
        transform: translate(250px, -25px) scale(0.7) rotate(40deg);
      }
      80% {
        transform: translate(300px, -200px) rotate(0deg);
      }
      100% {
        transform: translate(300px, -200px) rotate(0deg);
      }
  }

  @keyframes meteorDrop {
    0% {
      transform: translate(-1000px, -500px);
      opacity: 0;
    }
      10% {
        opacity: 0.7;
      }
     20% {
        transform: translate(500px, 1000px);
        opacity: 0;
      }
      100% {
        transform: translate(500px, 1000px);
        opacity: 0;
      }
  }